{% extends "base.html" %} {% load staticfiles %} 
{% block title %}
	<title>Visibility: Environment Status</title>
{% endblock title %}
{% block extra_javascript %}
	<script>
		
	</script>
{% endblock extra_javascript %}
{% block extra_style %}
	<style>
	</style>
{% endblock extra_style %}
{% block main %}
<p>
<form method="GET" class="form-inline">

<div class="row">
  <div class="col-lg-6">
    <div class="input-group">

       <select name="environment" class="form-control" >
        {% for env in environments %}
            <option value='{{ env.name }}' {% if env == environment %}selected{% endif %} >{{ env.name }}</option> 
        {% endfor %}
     </select>
      <span class="input-group-btn">
            <button type="submit" class="btn btn-default">
        <i class="glyphicon glyphicon-search"></i>
    </button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

</form>
</p>

{% if deploys %}
 
<div class="panel panel-default">
    <div class="panel-heading">{{ environment.name }} environment</div>
    
    <table class='table'>
        <tr>
            <th>Product</th>
            <th>Host</th>
            <th>Deployment start</th>
            <th>Deployment end</th>
            <th>Version</th>
            <th>Success</th>
        </tr>
        {% for e in deploys %}
        <tr
            class="{% if e.success %}success{% elif e.success != None %}danger{% elif e.success == None %}info{% endif %}">
            <td>{{ e.product.name }}</td>
            <td><a href='{% url 'host' %}?host={{e.host.name|urlencode }}' >{{ e.host.name }}</a></td>
            <td>{{ e.start|date:'d M Y H:i:s' }}</td>
            <td>{{ e.end|date:'d M Y H:i:s' }}</td>
            <td><a href='{% url 'candidate' %}?product={{e.product.name|urlencode }}&version={{e.version|urlencode }}' >{{ e.version }}</a></td>
            <td>
                {% if e.success %} 
                    <font color=GREEN>Yes</font> 
                {% elif e.success != None %} 
                    <font color=RED>No</font> 
                {% elif e.success == None %} 
                    Unknown 
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endif %} 

{% endblock main %}

