{% extends "base.html" %} {% load staticfiles %} 
{% block title %}
	<title>Visibility: Pipeline View</title>
{% endblock title %}
{% block extra_javascript %}
	<script>
		
	</script>
{% endblock extra_javascript %}
{% block extra_style %}
	<style>
	</style>
{% endblock extra_style %}
{% block main %}
<p>
<form method="GET" class="form-inline">
	Show me 
	
	<select name="environment">
		{% for env in environments %}
			<option value='{{ env.name }}' {% if env == environment %}selected{% endif %} >{{ env.name }}</option> 
		{% endfor %}
	</select> environment.

	<!--  Use a form submit rather than Ajax so user can store page as bookmark -->
	<button type="submit" class="btn">
		<i class="icon-search"></i>
	</button>

</form>
</p>

{% if deploys %}
 
    <table class='table'>
        <tr>
            <th>Product</th>
            <th>Deployment start</th>
            <th>Deployment end</th>
            <th>Version</th>
            <th>Success</th>
        </tr>
        {% for e in deploys %}
        <tr
            class="{% if e.success %}success{% elif e.success != None %}error{% elif e.success == None %}info{% endif %}">
            <td>{{ e.product.name }}</td>
            <td>{{ e.start|date:'d M Y H:i:s' }}</td>
            <td>{{ e.end|date:'d M Y H:i:s' }}</td>
            <td><a href='{% url 'candidate' %}?product={{e.product.name|urlencode }}&version={{e.version|urlencode }}' >{{ e.version }}</a></td>
            <td>
                {% if e.success %} 
                    <font color=GREEN>Yes</font> 
                {% elif e.success != None %} 
                    <font color=RED>No</font> 
                {% elif e.success == None %} 
                    Unknown 
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    

{% endif %} 

{% endblock main %}

