{% extends "base.html" %} {% load staticfiles %} {% block title %}
<title>Visibilty: Help Documentation</title>
{% endblock title %} {% block extra_javascript %}
{% endblock extra_javascript %} {% block extra_style %}
{% endblock extra_style %} {% block main %}

<h1>Visibility</h1>
<p>The Visibility dashboard is designed to provide a web
	interface for information on software builds, tests and deployments. A 
	common use case might be to find out what versions of software have been 
	deployed to a given environment or host, and then to see what tests have 
	been run on that software. Deployments can be stored with data/time 
	information, so it's possible to also find out historical information too.
</p>
<p>
   Information can be added via a simple API and viewed through the web
   interface.
</p>

<h1>Web Interface</h1>

<h2>Pipeline View</h2>
<p>
    The <a href="{% url 'pipeline' %}">pipeline view</a> shows a
    graphical representation of the latest builds for a given product.
    Once a product is selected, the view updates regularly to keep the
    view relevant.
</p>

<h2>Environment and Host Status</h2>
<p>
    The <a href="{% url 'host' %}">host status view</a> and
    <a href="{% url 'environment' %}">environment status view</a> 
    pages show the latest deployments of each product to a given host
    or environment.
</p>

<h2>Candidate Information</h2>
<p>
    The <a href="{% url 'candidate' %}">candidate</a> page shows
    detailed information about a particular version of a product,
    including build, test and deployment information. Of course, the
    data is only as good as that added through the API, so it's worth
    making sure you add as much detail as you are likely to need through
    the API.
</p>


<h1>API</h1>

<p>Each time a build, a test run or a deployment starts or ends,
	data can be added to the API to track these events. The API is HTTP
	based. The addition of data returns an ID to the record that has
	been added or updated. This allows you to create a record when an
	event such as a build starts, and when it ends, use the same ID to
	record the end of that event. The examples below show how to use the
	API to record Builds, Deployments and Test Runs.</p>

<p><b>Dates</b> are mostly added through the API using the &quot;now&quot;
keyword (see examples below).  You can also use the format 
&quot;YYYY-MM-DD HH:MM[:ss[.uuuuuu]][TZ]&quot;. 

Here's an example of how to get the
current date and time in the correct format using the GNU date command. Note 
that we return the date in the UTC timezone, and then specify 
&quot;Zulu Time Zone&quot; as &quot;Z&quot; in the output format. This gets
around those British Summer Time type  issues where hours go missing.

<pre>
TZ=UTC date +'%Y-%m-%d %H:%M:%SZ'
</pre>

<h2>Builds</h2>

<p>
	Path to add a new build: /dash/new_build<br />
	Path to update a build: /dash/update_build<br />
	Both requests return the build record ID number<br />
</p>

<table class="table">
	<caption>Build Fields</caption>
	<tr>
		<th>Name</th>
		<th>Description</th>
	</tr>
	<tr>
		<td>Build.id</td>
		<td>ID number of the build record</td>
	</tr>
	<tr>
		<td>Build.start</td>
		<td>Start time of the event</td>
	</tr>
	<tr>
		<td>Build.end</td>
		<td>End time of the event</td>
	</tr>
	<tr>
		<td>Build.version</td>
		<td>Version of the application</td>
	</tr>
	<tr>
		<td>Build.success</td>
		<td>Success or failure. Set to 1 for success, blank for
			failure and do not set for unknown</td>
	</tr>
	<tr>
		<td>Product.name</td>
		<td>Name of the product.</td>
	</tr>

	<tr>
		<td>Build.vcs_location</td>
		<td>Location of the source code. This is a text field and
			could, for example, store a URL to the code location</td>
	</tr>
	<tr>
		<td>Build.revision</td>
		<td>Source control revision number</td>
	</tr>
	<tr>
		<td>Build.builder</td>
		<td>Descrption of what built the code. This could, for
			example, contain a URL to the Jenkins build.</td>
	</tr>

</table>

<h3>Examples</h3>
<p>Posting of data for the start of a build. Note the use of the
	'now' keyword to specify a start date and time. Alternatively a date
	and time can be added in the format of 
	&quot;YYYY-MM-DD HH:MM[:ss[.uuuuuu]][TZ]&quot.
</p>
<pre>
build_id=$(
  curl -d "Product.name=Test Product" \
    -d "Build.version=1.0" \
    -d "Build.revision=12345" \
    -d "Build.start=now" \
    "http://localhost:8000/dash/new_build"
)
		</pre>


<p>Posting of data for the successful completion of a build
	(using the build_id variable which we created above):
</p>

<pre>
curl \
  -d "Build.id=$build_id" \
  -d "Build.end=now" \
  -d "Build.success=1" \
  "http://localhost:8000/dash/update_build"
</pre>

<p>Posting of data for a build failure. We just set success to
	blank:
</p>

<pre>
curl \
  -d "Build.id=$build_id" \
  -d "Build.end=now" \
  -d "Build.success=" \
  "http://localhost:8888/dash/update_build"
</pre>

<h2>Test Runs</h2>

<p>
	Path to add a new test run: /dash/new_testrun<br />
	Path to update a test run: /dash/update_testrun<br />
	Both requests return the test run record ID number.<br />
</p>

<table class="table">
	<caption>Testrun Fields</caption>
	<tr>
		<th>Name</th>
		<th>Description</th>
	</tr>
	<tr>
		<td>Testrun.id</td>
		<td>ID number of the Testrun record</td>
	</tr>
	<tr>
		<td>Testrun.start</td>
		<td>Start time of the event</td>
	</tr>
	<tr>
		<td>Testrun.end</td>
		<td>End time of the event</td>
	</tr>
	<tr>
		<td>Testrun.version</td>
		<td>Version of the application</td>
	</tr>
	<tr>
		<td>Testrun.success</td>
		<td>Success or failure. Set to 1 for success, blank for
			failure and do not set for unknown</td>
	</tr>

	<tr>
		<td>Testrun.location</td>
		<td>This can be a text description of the testing system or a
			URL to the test, such as a Jenkins URL to the test job.</td>
	</tr>

	<tr>
		<td>Product.name</td>
		<td>Name of the product.</td>
	</tr>
	<tr>
		<td>Testpack.name</td>
		<td>Name of the test pack that is running or has been run</td>
	</tr>
	<tr>
		<td>Environment.name</td>
		<td>Name of the environment in which the tests are running or
			have been run</td>
	</tr>

</table>


<h3>Examples</h3>

<p>Here is an example start of a test run, storing the ID into the $id shell
variable:
</p>
<pre>
id=$(
  curl \
    -d "Testrun.start=now" \
    -d "Testrun.version=0.1186" \
    -d "Testpack.name=Smoke test" \
    -d "Product.name=Test Product" \
    -d "Environment.name=Test" \
    "http://localhost:8000/dash/new_testrun"
)
</pre>
<p>Here's how we signal the end of that test run:</p>
<pre>
curl \
  -d "Testrun.id=$id" \
  -d "Testrun.end=now" \
  -d "Testrun.success=1" \
  "http://localhost:8000/dash/update_testrun"
</pre>



<h2>Deployments</h2>

<p>
	Path to add a new deployment: /dash/new_deploy<br />
	Path to update a deployment: /dash/update_deploy<br />
	Both requests return the deployment record ID number.<br />
</p>

<table class="table">
	<caption>Deploy Fields</caption>
	<tr>
		<th>Name</th>
		<th>Description</th>
	</tr>
	<tr>
		<td>Deploy.id</td>
		<td>ID number of the Deploy record (for /dash/update_deploy)</td>
	</tr>
	<tr>
		<td>Deploy.start</td>
		<td>Start time of the event</td>
	</tr>
	<tr>
		<td>Deploy.end</td>
		<td>End time of the event</td>
	</tr>
	<tr>
		<td>Deploy.version</td>
		<td>Version of the application</td>
	</tr>
	<tr>
		<td>Deploy.success</td>
		<td>Success or failure. Set to 1 for success, blank for
			failure and do not set for unknown</td>
	</tr>
	<tr>
		<td>Environment.name</td>
		<td>Name of the environment that the candiate has been
			deployed to</td>
	</tr>
	<tr>
           <td>Host.name</td>
           <td>Name of the host that the candiate has been
               deployed to</td>
       </tr>
       <tr>
           <td>Product.name</td>
           <td>Name of the product deployed</td>
       </tr>
</table>

<h3>Examples</h3>

<p>Here is an example deploy. We don't know the true start time, but can
set the start and end time to just be &quot;now&quot; if we want.
</p>

<pre>
curl \
  -d "Deploy.start=now" \
  -d "Deploy.end=now" \
  -d "Deploy.success=1" \
  -d "Deploy.version=0.1.1" \
  -d "Product.name=Test Product" \
  -d "Environment.name=Test" \
  -d "Host.name=testhost1" \
  "http://localhost:8000/dash/new_deploy"
</pre>

<h2>Removing Old Data</h2>

<p>
&quot;cleanup&quot; is a special request to remove data older than the given
date. It will remove:
</p>
<ul>
    <li>All events where the end date is older than the given date
    <li>All events where the start date is older than the given date and the end
    date is blank
    <li>All host, products, environment, and testpacks that no longer have events
</ul>
<p>
<p>
Here's an example cleanup request, removing data before the 18th of October,
2015 at 21:40:40 UTC
</p>

<pre>
curl "http://localhost:8000/dash/cleanup?up_to=2015-10-18 21:40:40Z"
</pre>


<h1>Developers</h1>
<p>
Visibility is pretty much a standard Django application.
</p>

<h2>Testing the Application</h2>

<p>If you're after a quick demo of how it hangs together, you can
	run &quot;python manage.py dummyrun&quot;. This will run some code
	to mimick the behaviour of a pipeline.</p>
<p>It assumes that you're running the application on
	http://localhost:8000/dash, just as if you had started the
	application locally. While the test is running you can navigate to
	the pipeline view on that instance and see the pipelines being run
	by selecting the &quot;test product&quot;.</p>
<p>The code for dummyrun exists in visibilty/dash/tests/dummy.py.
	Reading through this code provides a useful hint on how the API can
	be used.</p>

<h2>Data Format and Storage</h2>
<p>
    The backend is configured in the standard way for a Django
    application. Out of the box, the application is configured to use an
    sqlite database backend, but you might want to change this. The <a
        href='https://docs.djangoproject.com/en/dev/ref/settings/#databases'>Django
        documentation</a> explains how.
</p>

<h2>Database Tables</h2>
<p>The database has the following tables.
<table class="table">
    <tr>
        <th>Table Name</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Product</td>
        <td>List of products or applications</td>
    </tr>
    <tr>
        <td>Environment</td>
        <td>List of environments</td>
    </tr>
    <tr>
        <td>Host</td>
        <td>List of hosts</td>
    </tr>
    <tr>
        <td>Testpack</td>
        <td>List of testpacks</td>
    </tr>
    <tr>
        <td>Event</td>
        <td>The generic information relating to a build, test run or a
            deployment, such as start time, end time, a link to the product
            and a field for product version.</td>
    </tr>
    <tr>
        <td>Build</td>
        <td>Details of a build event specific to the build, such as
            VCS revision number. Each build links to a specific event.</td>
    </tr>
    <tr>
        <td>Testrun</td>
        <td>Details of a test run, including the test pack, and the
            environment. Eacn test run links to a specific event. The event
            success field is used to describe if the tests were successful.</td>
    </tr>
    <tr>
        <td>Deploy</td>
        <td>Details of a deployment to an environment. Each deployment
            is linked to a specific event.</td>
    </tr>
</table>

<p>
The Product, Host, Environment and Testpack tables are simple single column
tables to help classify the data. There is no need to specifically
add new values to these, as they will automatically be added to as
necessary (see API section below).
</p>

{% endblock main %}

