Package: visibility
Version: 0.3
Section: devel
Architecture: all
Depends: python, python-django, python-flup, debconf, apache2, libapache2-mod-wsgi
Replaces: apache2
Maintainer: Douglas Gibbons <doug@zenly.co.uk>
Description: Continuous Delivery information board
 Information board for software build, test and deployment pipelines
